*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.hero{
    .hero-container{
        display: flex;
        gap: 150px;
        .side-bar{
            display: flex;
            flex-direction: column;
           
            position: relative;
            width: 15%;
            border-right: 0.5px solid silver;
            .insta-logo{
                
                img{
                    width: 50%;
                    margin: 0px 30px;
                }
            }
            .toggle-button{
                display: none;
            }
            .menu-wrapper{
                ul{
                    display: flex;
                    flex-direction: column;
                    
                    li{
                        list-style: none;
                        margin: 20px 25px;
                        &:nth-child(8){
                            a.profile {
                                display: flex;
                                align-items: center;
                                .img-holder {
                                    width: 30px;
                                    height: 30px;
                                    border: 2px solid black;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    margin-right: 10px;
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                span{
                                    color: black;
                                    font-weight: bold;
                                }
                            }
                        }
                        a{
                            text-decoration: none;
                            color: rgb(52, 38, 38);
                            font-size: 16px;
                            i{
                                transform: scale(1.2);
                            }
                            img{
                                width: 20px;
                                height: 20px;
                            }
                            span{
                                padding-left: 10px;
                            }
                        }
                    }
                
                }
            }
        }
        .profile-part{
            .profile-wrapper{
                display: flex;
                flex-direction: column;
                .profile-info{
                    display: flex;
                    gap: 20px;
                    margin: 60px 250px;
                    .profile-picture{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .profile-details{
                       display: flex;
                       flex-direction: column;
                       gap: 10px;
                        .user-name{
                            span{
                            font-size: 24px;
                            font-weight: 700;
                            }
                            img{
                                width: 20px;
                                height: 20px;
                                margin-left: 10px;
                            }
                        }
                        .full-name{
                            span{
                                font-size: 14px;
                                font-weight: 400;
                                color: rgb(46, 37, 37);
                            }
                        }
                        .activities{
                            span{
                                font-size: 14px;
                                font-weight: 400;
                                color: rgb(46, 37, 37);
                                padding-right: 15px;
                            }
                        }
                        .bio{
                            p{
                                font-size: 14px;
                                font-weight: 400;
                            }
                            img{
                                width: 20px;
                                height: 20px;
                            }
                        }
                        .thread-id{
                            p{
                                img{
                                    width: 15px;
                                    height: 15px;
                            
                                }
                                span{
                                    font-size: 14px;
                                    font-weight: 400;
                                    color: black;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
                .profile-buttons-holder{
                    margin: -30px 250px;
                    .edit-btn, .archive-btn{
                        border: none;
                        padding: 15px 100px;
                        border-radius: 10px;
                        font-weight: bold;
                        font-size: 14px;
                        color: rgb(46, 37, 37);
                        cursor: pointer;
                        
                    }
                }
                .highlight-container{
                    display: flex;
                    gap: 20px;
                    margin: 20px 250px;
                    .read-circle1{
                        width: 90px;
                        height: 90px;
                        border: 5px solid silver;
                         border-radius: 50%;
                         margin: 20px 0px;
                        .img-holder{
                           width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        }
                        .title{
                            margin-top: 10px;
                        }
                    }
                    .new-wrapper{
                        
                        display: flex;
                        flex-direction: column;
                        
                        .read-circle2{
                       
                        position: relative;
                        width: 90px;
                        height: 90px;
                        border: 5px solid silver;
                         border-radius: 50%;
                          margin: 20px 0px;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                        
                        .icon-holder{
                            background-color: #e3d9d9;
                            i{
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: silver;
                                font-size: 60px;
                                font-weight: 500;
                            }
                        }
                        
                        
                    }
                    .new{
                         margin-top: -15px;
                         padding-left: 30px;
                            
                        }
                    }
                   
                }
                
            }
            .file-grid-section{
                
                    .grid-buttons{
                        display: flex;
                        justify-content: space-around;
                        .icon-holder{
                            i{
                                font-size: 24px;
                            }
                        }
                        .img-holder{
                            width: 24px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;  
                            }
                        }
                    }
                    .uploaded-file-container{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        .img-holder{
                            width: 300px;
                            height: 300px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .video-holder{
                            width: 300px;
                            height: 300px;
                            position: relative;
                            video{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            img{
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                    .tagged-section{
                        display: none;
                        flex-wrap: wrap;
                        gap: 10px;
                        .img-holder{
                            width: 300px;
                            height: 300px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                    .reels-section{
                        display: none;
                        flex-wrap: wrap;
                        gap: 10px;
                        .video-holder{
                            width: 300px;
                            height: 500px;
                            video{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
        }
    }
}



// Responsive starts

@media (max-width: 900px) {
  .hero {
    .hero-container {
      flex-direction: column;
      gap: 50px;

      .side-bar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-right: none;
        border-bottom: 0.5px solid silver;
        padding: 10px 0;

        .insta-logo {
          img {
            width: 80px;
            margin: 0;
          }
        }
        .toggle-button{
            display: block;
        }

        .menu-wrapper {
            // transform: translate(-300px);
            display: none;
          ul {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 15px;

            li {
              margin: 10px;

              a {
                font-size: 14px;
                i,
                img {
                  transform: scale(1);
                }
                span {
                  display: none; 
                }
              }
            }
          }
        }
      }
      .menu-wrapper.active {
  display: flex;
  flex-direction: column;
}

      .profile-part {
        .profile-wrapper {
          .profile-info {
            // flex-direction: column;
            align-items: center;
            margin: 40px auto;
            gap: 15px;

            .profile-picture {
              width: 120px;
              height: 120px;
            }

            .profile-details {
              align-items: center;
              text-align: center;
              .user-name span {
                font-size: 20px;
              }
              .activities span {
                // display: block;
                font-size: 12px;
                padding-right: 0;
                margin-bottom: 5px;
              }
            }
          }

          .profile-buttons-holder {
            margin: 0 auto;
            display: flex;
            // flex-direction: column;
            align-items: center;
            gap: 10px;

            .edit-btn,
            .archive-btn {
              padding: 10px 60px;
              width: 80%;
              max-width: 300px;
            }
          }

          .highlight-container {
            margin: 20px auto;
            justify-content: center;
            gap: 15px;

            .read-circle1,
            .new-wrapper .read-circle2 {
              width: 70px;
              height: 70px;

              .img-holder{
                width: 60px;
                height: 60px;   
              }
              .icon-holder {
                // width: 60px;
                height: 60px;
              }

              i {
                font-size: 40px;
              }
            }

            .title,
            .new {
              font-size: 12px;
              padding-left: 0;
              text-align: center;
            }
          }
        }

        .file-grid-section {
          .grid-buttons {
            flex-wrap: wrap;
            gap: 10px;

            .icon-holder i {
              font-size: 20px;
            }

            .img-holder {
              width: 20px;
            }
          }

          .uploaded-file-container,
          .tagged-section,
          .reels-section {
            justify-content: center;
            .img-holder,
            .video-holder {
              width: 200px;
              height: 200px;
            }
          }
        }
      }
    }
  }
}
